// PADDING GLOBAL
.p-s {
    padding: $small-spacing;
}
.p-m {
    padding: $medium-spacing;
}
.p-l {
    padding: $large-spacing;
}

// MARGIN GLOBAL
.m-s {
    margin: $small-spacing;
}
.m-m {
    margin: $medium-spacing;
}
.m-l {
    margin: $large-spacing;
}

// RIGHT
.p-rs {
    padding-right: $small-spacing;
}
.p-rm{
    padding-right: $medium-spacing;
}
.p-rl{
    padding-right: $large-spacing;
}
.m-rs {
    margin-right: $small-spacing;
}
.m-rm{
    margin-right: $medium-spacing;
}
.m-rl{
    margin-right: $large-spacing;
}

// LEFT
.p-ls {
    padding-left: $small-spacing;
}
.p-lm{
    padding-left: $medium-spacing;
}
.p-ll{
    padding-left: $large-spacing;
}
.m-ls {
    margin-left: $small-spacing;
}
.m-lm{
    margin-left: $medium-spacing;
}
.m-ll{
    margin-left: $large-spacing;
}

// TOP
.p-ts {
    padding-top: $small-spacing;
}
.p-tm{
    padding-top: $medium-spacing;
}
.p-tl{
    padding-top: $large-spacing;
}
.m-ts {
    margin-top: $small-spacing;
}
.m-tm{
    margin-top: $medium-spacing;
}
.m-tl{
    margin-top: $large-spacing;
}


// BOTTOM
.p-bs {
    padding-bottom: $small-spacing;
}
.p-bm{
    padding-bottom: $medium-spacing;
}
.p-bl{
    padding-bottom: $large-spacing;
}
.m-bs {
    margin-bottom: $small-spacing;
}
.m-bm{
    margin-bottom: $medium-spacing;
}
.m-bl{
    margin-bottom: $large-spacing;
}


