$primaryBtn: rgba(32, 108, 223, 0.918);
$primaryHoverBtn: rgb(20, 82, 173);
$white: rgba(255,255,255,1);

// PADDING
$small-spacing: 10px;
$medium-spacing: 15px;
$large-spacing: 20px;

// BACKGROUND
// WHITE
$white-bg: rgba(255, 255, 255, 1);

// GREY
$dark-bg: rgba(53, 53, 53, 1);
$dark-clear-bg: rgb(156, 156, 156);
$dark-light-bg: rgb(236, 236, 236);
// INDIGO 
$indigo-light: #666ad1;
$indigo-neutral: #303f9f;
$indigo-dark: #001970;
// CYAN
$cyan-light: #56c8d8;
$cyan-neutral: #0097a7;
$cyan-dark: #006978;
// BLUE
$blue-light: #63a4ff;
$blue-neutral: #1976d2;
$blue-dark: #004ba0;


